
.shopping-container {
    background: var(--color-secondary);
    width: 90%;
    top: 49px;
    margin: 0 auto;
    position: absolute;
    display: none;
    border: 2px solid black;
    padding: 5px;
    overflow-y: scroll;
    height: 200px;


}

.shopping-container__active {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;   
    display: block;
}


.shopping-container__item {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

}

.shopping-container__btn {
    cursor: pointer;
    background-color: var(--color-secondary);
    border-radius: 5px;
    border: 0;

}


.close-btn {
    background-color: var(--color-secondary);
    border: 0;
    cursor: pointer;
    position: fixed;
    
}

body::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: var(--color-secondary);        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--accent)    /* цвет плашки */;
    border-radius: 0px;       /* закругления плашки */
    border: 0px solid var(--color-secondary)  /* padding вокруг плашки */
  }
