
.shopping-container {
    background: var(--color-secondary);
    width: 90%;

    margin: 0 auto;
    position: absolute;
    display: none;
    border: 3px solid black;
    border-radius: 15px;

}

.shopping-container__active {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;   
    display: block;
}


.shopping-container__item {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

}

.shopping-container__btn {
    cursor: pointer;
    background-color: brown;
    border-radius: 5px;
    height: 40px;
}

