.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
    width: 80%;
    max-width: 1200px;
    margin: var(--spacing-large) auto;
    margin-top: 100px;
    padding: 0px;
}

.products-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--color-secondary);
    padding: 30px 15px 30px 15px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.products-element__img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    margin-bottom: 10px;
}


.products-element__name {
    margin-bottom: auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.products-element__price {
    margin: 0 auto;
    font-weight: 400;
    color: var(--color-unaccent);
}

.products-element__btn {
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--accent);
    font-weight: bold;
    color: var(--color-secondary);
    box-shadow: var(--shadow);
    cursor: pointer;
    font-family: inherit;
}

.products-element__btn_active {
    background-color: red;
    
}


